@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Global styles */
* {
    cursor: none !important;
}

body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #d6d6d6 inset !important;
    -webkit-text-fill-color: black !important;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
}

/*  */
.font-montserrat {
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}
.font-raleway {
    font-family: 'Raleway', ui-sans-serif, system-ui, sans-serif;
}

.font-open-sans {
    font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
}

/* Shake for button */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.3s infinite;
}

.shake-delay {
    animation: shake 0.3s infinite;
    animation-delay: 1s;
}

/* Draw lines */
@keyframes draw {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes draw-x {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.animate-draw {
    transform-origin: center;
    animation: draw 0.6s forwards;
    animation-delay: 0.3s;
}
.animate-draw-x-left {
    transform-origin: left;
    animation: draw-x 1s forwards;
    animation-delay: 0.3s;
}
.animate-draw-x-right {
    transform-origin: right;
    animation: draw-x 1s forwards;
    animation-delay: 0.3s;
}

/* Draw borders */
@keyframes borderXFromCenter {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.animate-borderX {
    transform-origin: center;
    animation: borderXFromCenter 0.6s ease-out forwards;
}

@keyframes borderYFromEdges {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.animate-borderY-left::before,
.animate-borderY-left::after,
.animate-borderY-right::before,
.animate-borderY-right::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: black;
    transform: scaleY(0);
    animation-delay: 0.5s;
}

.animate-borderY-left::before {
    top: 0;
    transform-origin: top;
    animation: borderYFromEdges 0.6s ease-out forwards;
    animation-delay: 0.5s;
}
.animate-borderY-left::after {
    bottom: 0;
    transform-origin: bottom;
    animation: borderYFromEdges 0.6s ease-out forwards;
    animation-delay: 0.5s;
}

.animate-borderY-right::before {
    top: 0;
    transform-origin: top;
    animation: borderYFromEdges 0.6s ease-out forwards;
    animation-delay: 0.5s;
}
.animate-borderY-right::after {
    bottom: 0;
    transform-origin: bottom;
    animation: borderYFromEdges 0.6s ease-out forwards;
    animation-delay: 0.5s;
}

/* Animation from bottom to up */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s forwards ease-out;
}

/* Animation from center */
@keyframes fadeInCenter {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.fade-in-center {
    animation: fadeInCenter 0.5s ease-out forwards;
}

/* Animation delays timer */
.animation-delay-100 {
    animation-delay: 0.3s;
}
.animation-delay-150 {
    animation-delay: 0.35s;
}
.animation-delay-200 {
    animation-delay: 0.4s;
}
.animation-delay-250 {
    animation-delay: 0.45s;
}
.animation-delay-300 {
    animation-delay: 0.5s;
}
.animation-delay-350 {
    animation-delay: 0.65s;
}
.animation-delay-400 {
    animation-delay: 0.7s;
}
.animation-delay-450 {
    animation-delay: 0.75s;
}
.animation-delay-500 {
    animation-delay: 0.8s;
}
.animation-delay-550 {
    animation-delay: 0.85s;
}
.animation-delay-600 {
    animation-delay: 0.9s;
}
.animation-delay-700 {
    animation-delay: 0.95s;
}
.animation-delay-800 {
    animation-delay: 1s;
}
.animation-delay-900 {
    animation-delay: 1.1s;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0% 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0% 0 0 / 0.1);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
